:root {
 --box-shadow: 0px 1px 5px 5px rgb(84, 84, 194);
 --income: green;
 --expense:red;
}
.app h1{
  text-align: center;
}
h2{
  font-size: 2rem;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.balance-container #balance{
  font-size: 1.5rem;
}
.cashflow-container{
  display: flex;
  box-shadow: var(--box-shadow);
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 20px;
}
.income-container{
  border-right: 4px solid red;
  padding-right: 20px;

}
.expense-container{
  padding-left: 20px;
}
#income, #expense {
  font-size: 1.4rem;
}
#income{
  color: var(--income);
}
#expense{
  color: var(--expense);
}
.transaction-container{
  margin-top: 20px;
}
#transaction{
  list-style: none;
  margin: 0;
  padding: 0;
}
#transaction li{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  box-shadow: var(--box-shadow);
  margin-bottom: 10px;
}
#transaction li .income-amt{
  display: inline-block;
  background-color: var(--income);
  color:aqua;
  padding: 5px;
  border-radius: 3px;
}
#transaction li .expense-amt{
   display: inline-block;
  background-color: var(--expense);
  color:aqua;
  padding: 5px;
  border-radius: 3px;
}
#transaction li button{
  padding:5px 10px 5px 10px ;
}
.form-container{
  margin-top: 20px;
}
.form-container form{
display: flex;
flex-direction: column;
}
.form-container label{
  padding-bottom: 5px;
}
.form-container form input{
  height: 15px;
  margin-bottom: 10px;
}
.form-container form button{
border: none;
margin-bottom:5px ;
padding: 10px;
font: size 2rem;
color: white;
}
#incomebtn{
  background-color: var(--income);
}
#expensebtn{
  background-color: var(--expense);
}
